.simple {
    width: 500px;
    margin: 20px auto;
    border: solid;
    border-color: crimson;
  }
  
  .fancy {
    width: 500px;
    margin: 20px auto;
    padding: 50px;
    border-width: 10px;
    border: solid;
    border-color:cornflowerblue;
  }
body{
    background-color: #f0f357;
    color: #000000;
    font-family: 'Times New Roman', Times, serif;
}