body{
    background-color: #ed0500;
    color: #ffa800;
    font-family: monospace;
}
.three-column {
    padding: 1em;
    -moz-column-count: 3;
    -moz-column-gap: 1em;
    -webkit-column-count: 3;
    -webkit-column-gap: 1em;
    column-count: 3;
    column-gap: 1em;
  }