body{
    font-family: 'Times New Roman';
    color: #f73939;
    background-color: #526112;
}
h{
    font-size: 32px;
}

.static {
    position: static;
  }
.relatif1 {
    position: relative;
    background-color: #d61010;
    color: #07a598;
  }
.relatif2 {
    position: relative;
    top: -5px;
    left: 20px;
    background-color: #ff0000;
    color: #15f700;
    width: 500px;
  }
.fix {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 200px;
    background-color: #010308;
    border: #b800b8;
    border-style: ridge;
    border-width: 2px;
    color: #ffffff;
  }
  .relative {
    position: relative;
    width: 600px;
    height: 400px;
  }
  .absolute {
    position: absolute;
    top: 120px;
    right: 0;
    width: 300px;
    height: 200px;
    background-color: #dd6b00;
    color: #0f36c4;
  }